<?xml version="1.0" encoding="utf-8"?>

<manifest

    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vyping.business">

    <application
        android:name="com.vyping.masterlibrary.aplication.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_main"
        android:supportsRtl="true"
        android:theme="@style/AppDarkTheme">

        <activity
            android:name=".login.LogActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".offers.OffersActivity"
            android:exported="false" />
        <activity
            android:name=".login.LogupActivity"
            android:exported="true" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".menu.MenuActivity"
            android:exported="true" />
    </application>

</manifest>